apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "openzaak.fullname" . }}
  labels:
    {{- include "openzaak.labels" . | nindent 4 }}
data:
  DJANGO_SETTINGS_MODULE: {{ .Values.settings.djangoSettingsModule | toString | quote }}
  {{- if .Values.settings.useXForwardedHost }}
  USE_X_FORWARDED_HOST: "True"
  {{- end }}
  ENVIRONMENT: {{ .Values.settings.environment | default (include "openzaak.fullname" .) }}
  {{- if .Values.extraVerifyCerts }}
  EXTRA_VERIFY_CERTS: {{ .Values.extraVerifyCerts| toString | quote }}
  {{- end }}
  ALLOWED_HOSTS: "{{ include "openzaak.fullname" . }},{{ include "openzaak.fullname" . }}.{{ .Release.Namespace }},{{ .Values.settings.allowedHosts | replace " " "" | toString }}"
  {{- if .Values.tags.redis }}
  CACHE_DEFAULT: {{ printf "%s-master.%s:6379/0" (include "common.names.fullname" .Subcharts.redis) .Release.Namespace | toString | quote }}
  CACHE_AXES: {{ printf "%s-master.%s:6379/0" (include "common.names.fullname" .Subcharts.redis) .Release.Namespace | toString | quote }}
  CELERY_BROKER_URL: {{ printf "redis://%s-master.%s:6379/1" (include "common.names.fullname" .Subcharts.redis) .Release.Namespace | toString | quote }}
  CELERY_RESULT_BACKEND: {{ printf "redis://%s-master.%s:6379/1" (include "common.names.fullname" .Subcharts.redis) .Release.Namespace | toString | quote }}
  CELERY_RESULT_EXPIRES: {{ .Values.settings.celery.resultExpires | toString | quote }}
  {{- else }}
  CACHE_DEFAULT: {{ .Values.settings.cache.default | toString | quote }}
  CACHE_AXES: {{ .Values.settings.cache.axes | toString | quote }}
  CELERY_BROKER_URL: {{ .Values.settings.celery.brokerUrl | toString | quote }}
  CELERY_RESULT_BACKEND: {{ .Values.settings.celery.resultBackendl | toString | quote }}
  {{- end }}
  CELERY_LOGLEVEL: {{ .Values.settings.celery.logLevel | upper | toString | quote }}
  CELERY_WORKER_CONCURRENCY: {{ .Values.worker.concurrency | toString | quote }}
  {{- if .Values.settings.cmis.enabled }}
  CMIS_ENABLED: "True"
  {{- end }}
  {{- if .Values.settings.cmis.mapperFile }}
  CMIS_MAPPER_FILE: {{ .Values.settings.cmis.mapperFile | toString | quote }}
  {{- end }}
  {{ if .Values.worker.maxWorkerLivenessDelta }}
  MAX_WORKER_LIVENESS_DELTA: {{ .Values.worker.maxWorkerLivenessDelta | toString | quote }}
  {{- end }}  
  DB_NAME: {{ .Values.settings.database.name | toString | quote }}
  DB_HOST: {{ .Values.global.settings.databaseHost | default .Values.settings.database.host | toString | quote }}
  DB_USER: {{ .Values.settings.database.username | toString | quote }}
  DB_PORT: {{ .Values.settings.database.port | toString | quote }}
  {{- with .Values.settings.database.dbPool }}
  {{- if .enabled }}
  DB_POOL_ENABLED: {{ .enabled | toString | title | quote }}
  {{- if ne .dbPoolMinSize nil }}
  DB_POOL_MIN_SIZE: {{ int .dbPoolMinSize | quote }}
  {{- end }} 
  {{- if ne .dbPoolMaxSize nil }}
  DB_POOL_MAX_SIZE: {{ int .dbPoolMaxSize | quote }}
  {{- end }}
  {{- if ne .dbPoolTimeout nil }}
  DB_POOL_TIMEOUT: {{ int .dbPoolTimeout | quote }}
  {{- end }}
  {{- if ne .dbPoolMaxWaiting nil }}
  DB_POOL_MAX_WAITING: {{ int .dbPoolMaxWaiting | quote }}
  {{- end }}
  {{- if ne .dbPoolMaxLifetime nil }}
  DB_POOL_MAX_LIFETIME: {{ int .dbPoolMaxLifetime | quote }}
  {{- end }}
  {{- if ne .dbPoolMaxIdle nil }}
  DB_POOL_MAX_IDLE: {{ int .dbPoolMaxIdle | quote }}
  {{- end }}
  {{- if ne .dbPoolReconnectTimeout nil }}
  DB_POOL_RECONNECT_TIMEOUT: {{ int .dbPoolReconnectTimeout | quote }}
  {{- end }}
  {{- if ne .dbPoolNumWorkers nil }}
  DB_POOL_NUM_WORKERS: {{ int .dbPoolNumWorkers | quote }}
  {{- end }}
  {{ else }}
  {{- if ne $.Values.settings.database.dbConnMaxAge nil }}
  DB_CONN_MAX_AGE: {{ int $.Values.settings.database.dbConnMaxAge | quote }}
  {{- end }}     
  {{- end }}
  {{- end }}  
  PGSSLMODE: {{ .Values.settings.database.sslmode | toString | quote }}
  DEBUG: {{ if .Values.settings.debug }}"True"{{ else }}"False"{{ end }}
  NUM_PROXIES: {{ .Values.settings.numProxies | toString | quote }}
  IS_HTTPS: {{ if .Values.settings.isHttps }}"True"{{ else }}"False"{{ end }}
  JWT_EXPIRY: {{ .Values.settings.jwtExpiry | toString | quote }}
  FLOWER_URL_PREFIX: {{ .Values.settings.flower.urlPrefix | toString | quote }}
  EMAIL_HOST: {{ .Values.settings.email.host | toString | quote }}
  EMAIL_PORT: {{ .Values.settings.email.port | toString | quote }}
  {{- if .Values.settings.email.username }}
  EMAIL_HOST_USER: {{ .Values.settings.email.username | toString | quote }}
  {{- end }}
  {{- if .Values.settings.email.useTLS }}
  EMAIL_USE_TLS: "True"
  {{- end }}
  {{- if .Values.settings.email.defaultFrom }}
  DEFAULT_FROM_EMAIL: {{ .Values.settings.email.defaultFrom | toString | quote }}
  {{- end }}
  {{- if .Values.settings.elasticapm.url }}
  ELASTIC_APM_SERVICE_NAME: {{ .Values.settings.elasticapm.serviceName | toString |  quote }}
  {{- end }}
  {{- if .Values.settings.uwsgi.master }}
  UWSGI_MASTER:  {{ if .Values.settings.uwsgi.master }}"1"{{ else }}"0"{{ end }}
  {{- end }}
  {{- if .Values.settings.uwsgi.threads }}
  UWSGI_THREADS: {{ .Values.settings.uwsgi.threads  | toString | quote }}
  {{- end }}
  {{- if .Values.settings.uwsgi.processes }}
  UWSGI_PROCESSES: {{ .Values.settings.uwsgi.processes | toString | quote }}
  {{- end }}
  {{- if .Values.settings.uwsgi.maxRequests }}
  UWSGI_MAX_REQUESTS: {{ .Values.settings.uwsgi.maxRequests | toString | quote }}
  {{- end }}
  {{- if .Values.settings.uwsgi.harakiri }}
  UWSGI_HARAKIRI: {{ .Values.settings.uwsgi.harakiri | toString | quote }}
  {{- end }}
  {{- if .Values.settings.notificationsDisabled }}
  NOTIFICATIONS_DISABLED: "True"
  {{- end }}
  {{ if .Values.settings.disable2fa }}
  DISABLE_2FA: "True"
  {{- end }}
  {{ if .Values.configuration.superuser.username }}
  OPENZAAK_SUPERUSER_USERNAME: {{ .Values.configuration.superuser.username | toString | quote }}
  OPENZAAK_SUPERUSER_EMAIL: {{ .Values.configuration.superuser.email | toString | quote }}
  {{- end }}
  {{- if or (eq .Values.settings.zaakIdentificatieGenerator "use-start-datum-year") (eq .Values.settings.zaakIdentificatieGenerator "use-creation-year") }}
  ZAAK_IDENTIFICATIE_GENERATOR: {{ .Values.settings.zaakIdentificatieGenerator | toString | quote }}
  {{- end }}
  {{- if .Values.settings.siteDomain }}
  SITE_DOMAIN: {{ .Values.settings.siteDomain | toString | quote }}
  {{- end }}
  {{- if .Values.settings.database.dbDisableServerSideCursors }}
  DB_DISABLE_SERVER_SIDE_CURSORS: "True"
  {{- else }}
  DB_DISABLE_SERVER_SIDE_CURSORS: "False"
  {{- end }}
  {{- if .Values.settings.timeLeeway }}
  TIME_LEEWAY: {{ int .Values.settings.timeLeeway | quote }}
  {{- end }}
  OTEL_SDK_DISABLED: {{ if .Values.settings.otel.disabled }}"True"{{ else }}"False"{{ end }}
  {{- if not .Values.settings.otel.disabled }}
  OTEL_RESOURCE_ATTRIBUTES: "{{ range $index, $item := .Values.settings.otel.resourceAttributes }}{{ if $index }},{{ end }}{{ .key }}={{ .value }}{{ end }}"
  OTEL_EXPORTER_OTLP_ENDPOINT: {{ .Values.settings.otel.exporterOtlpEndpoint | toString | quote }}
  OTEL_EXPORTER_OTLP_METRICS_INSECURE: {{ if .Values.settings.otel.exporterOtlpMetricsInsecure }}"True"{{ else }}"False"{{ end }}
  OTEL_EXPORTER_OTLP_PROTOCOL: {{ .Values.settings.otel.exporterOtlpProtocol | toString | quote }}
  OTEL_METRIC_EXPORT_INTERVAL: {{ .Values.settings.otel.metricExportInterval | toString | quote }}
  OTEL_METRIC_EXPORT_TIMEOUT: {{ .Values.settings.otel.metricExportTimeout | toString | quote }}
  {{- end }}
