{{- if not .Values.existingSecret }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "openzaak.fullname" . }}
  labels:
    {{- include "openzaak.labels" . | nindent 4 }}
stringData:
  DB_PASSWORD: {{ .Values.settings.database.password | toString | quote }}
  SECRET_KEY: {{ .Values.settings.secretKey | toString |  quote }}
  FLOWER_BASIC_AUTH:  {{ .Values.settings.flower.basicAuth | toString | quote }}
  {{- if .Values.settings.sentry.dsn }}
  SENTRY_DSN: {{ .Values.settings.sentry.dsn | toString | quote }}
  {{- end }}
  {{- if .Values.settings.elasticapm.url }}
  ELASTIC_APM_SERVER_URL: {{ .Values.settings.elasticapm.url | toString |  quote }}
  ELASTIC_APM_SECRET_TOKEN: {{ .Values.settings.elasticapm.token | toString |  quote }}
  {{- end }}
  {{- if .Values.settings.email.password }}
  EMAIL_HOST_PASSWORD: {{ .Values.settings.email.password | toString | quote }}
  {{- end }}
  {{ if .Values.configuration.superuser.username }}
  DJANGO_SUPERUSER_PASSWORD: {{ .Values.configuration.superuser.password | toString | quote }}
  {{- end }}
  {{- if not .Values.settings.otel.disabled }}
  OTEL_EXPORTER_OTLP_HEADERS: "{{ range $index, $item := .Values.settings.otel.exporterOtlpHeaders }}{{ if $index }},{{ end }}{{ .key }}={{ .value }}{{ end }}"
  {{- end }}
  {{- if eq .Values.settings.documentApiBackend "azure_blob_storage" }}
  AZURE_CLIENT_SECRET: {{ .Values.settings.azureBlobStorage.clientSecret | toString | quote }}
  {{- end }}
  {{- if eq .Values.settings.documentApiBackend "s3_storage" }}
  S3_SECRET_ACCESS_KEY: {{ .Values.settings.s3storage.secretAccessKey | toString | quote }}
  {{- end }}
{{- end }}
