apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "objecten.fullname" . }}
  labels:
    {{- include "objecten.labels" . | nindent 4 }}
data:
  DJANGO_SETTINGS_MODULE: {{ .Values.settings.djangoSettingsModule | toString | quote }}
  {{- if .Values.settings.useXForwardedHost }}
  USE_X_FORWARDED_HOST: "True"
  {{- end }}
  ENVIRONMENT: {{ .Values.settings.environment | default (include "objecten.fullname" .) }}
  ALLOWED_HOSTS: "{{ include "objecten.fullname" . }},{{ include "objecten.fullname" . }}.{{ .Release.Namespace }},{{ .Values.settings.allowedHosts | replace " " "" | toString }}"
  {{- if .Values.tags.redis }}
  CACHE_DEFAULT: {{ printf "%s-master.%s:6379/0" (include "common.names.fullname" .Subcharts.redis) .Release.Namespace | toString | quote }}
  CACHE_AXES: {{ printf "%s-master.%s:6379/0" (include "common.names.fullname" .Subcharts.redis) .Release.Namespace | toString | quote }}
  CACHE_OIDC: {{ printf "%s-master.%s:6379/0" (include "common.names.fullname" .Subcharts.redis) .Release.Namespace | toString | quote }}
  CELERY_BROKER_URL: {{ printf "redis://%s-master.%s:6379/1" (include "common.names.fullname" .Subcharts.redis) .Release.Namespace | toString | quote }}
  CELERY_RESULT_BACKEND: {{ printf "redis://%s-master.%s:6379/1" (include "common.names.fullname" .Subcharts.redis) .Release.Namespace | toString | quote }}
  {{ else }}
  CACHE_DEFAULT: {{ .Values.settings.cache.default | toString | quote }}
  CACHE_AXES: {{ .Values.settings.cache.axes | toString | quote }}
  CACHE_OIDC: {{ .Values.settings.cache.oidc | toString | quote }}
  CELERY_BROKER_URL: {{ .Values.settings.celery.brokerUrl | toString | quote }}
  CELERY_RESULT_BACKEND: {{ .Values.settings.celery.resultBackendl | toString | quote }}
  {{- end }}
  CELERY_LOGLEVEL:  {{ .Values.settings.celery.logLevel | upper | toString | quote }}
  {{ if .Values.worker.maxWorkerLivenessDelta }}
  MAX_WORKER_LIVENESS_DELTA: {{ .Values.worker.maxWorkerLivenessDelta | toString | quote }}
  {{- end }}
  DB_NAME: {{ .Values.settings.database.name | toString | quote }}
  DB_HOST: {{ .Values.global.settings.databaseHost | default .Values.settings.database.host | toString | quote }}
  DB_USER: {{ .Values.settings.database.username | toString | quote }}
  DB_PORT: {{ .Values.settings.database.port | toString | quote }}
  PGSSLMODE: {{ .Values.settings.database.sslmode | toString | quote }}
  {{- if .Values.settings.database.objecttype_version_cache_timeout }}
  OBJECTTYPE_VERSION_CACHE_TIMEOUT: {{ .Values.settings.database.objecttype_version_cache_timeout | quote }}
  {{- end }}  
  {{- with .Values.settings.database.db_pool }}
  {{- if .enabled }}
  DB_POOL_ENABLED: {{ .enabled | toString | title | quote }}
  {{- if .db_pool_min_size }}
  DB_POOL_MIN_SIZE: {{ .db_pool_min_size | quote }}
  {{- end }} 
  {{- if .db_pool_max_size }}
  DB_POOL_MAX_SIZE: {{ .db_pool_max_size | quote }}
  {{- end }}
  {{- if .db_pool_timeout }}
  DB_POOL_TIMEOUT: {{ .db_pool_timeout | quote }}
  {{- end }}
  {{- if .db_pool_max_waiting }}
  DB_POOL_MAX_WAITING: {{ .db_pool_max_waiting | quote }}
  {{- end }}
  {{- if .db_pool_max_lifetime }}
  DB_POOL_MAX_LIFETIME: {{ .db_pool_max_lifetime | quote }}
  {{- end }}
  {{- if .db_pool_max_idle }}
  DB_POOL_MAX_IDLE: {{ .db_pool_max_idle | quote }}
  {{- end }}
  {{- if .db_pool_reconnect_timeout }}
  DB_POOL_RECONNECT_TIMEOUT: {{ .db_pool_reconnect_timeout | quote }}
  {{- end }}
  {{- if .db_pool_num_workers }}
  DB_POOL_NUM_WORKERS: {{ .db_pool_num_workers | quote }}
  {{- end }}
  {{ else }}
  {{- if $.Values.settings.database.db_conn_max_age }}
  DB_CONN_MAX_AGE: {{ $.Values.settings.database.db_conn_max_age | quote }}
  {{- end }}     
  {{- end }}
  {{- end }}
  {{ if .Values.settings.debug }}
  DEBUG: "True"
  {{- end }}
  {{ if .Values.settings.disable2fa }}
  DISABLE_2FA: "True"
  {{- end }}
  IS_HTTPS: {{ if .Values.settings.isHttps }}"True"{{ else }}"False"{{ end }}
  EMAIL_HOST: {{ .Values.settings.email.host | toString | quote }}
  EMAIL_PORT: {{ .Values.settings.email.port | toString | quote }}
  {{- if .Values.settings.email.username }}
  EMAIL_HOST_USER: {{ .Values.settings.email.username | toString | quote }}
  {{- end }}
  {{- if .Values.settings.email.useTLS }}
  EMAIL_USE_TLS: "True"
  {{- end }}
  {{- if .Values.settings.email.defaultFrom }}
  DEFAULT_FROM_EMAIL: {{ .Values.settings.email.defaultFrom | toString | quote }}
  {{- end }}
  {{- if .Values.settings.elasticapm.url }}
  ELASTIC_APM_SERVICE_NAME: {{ .Values.settings.elasticapm.serviceName | toString |  quote }}
  {{- end }}
  {{- if .Values.settings.uwsgi.master }}
  UWSGI_MASTER:  {{ if .Values.settings.uwsgi.master }}"1"{{ else }}"0"{{ end }}
  {{- end }}
  {{- if .Values.settings.uwsgi.threads }}
  UWSGI_THREADS: {{ .Values.settings.uwsgi.threads  | toString | quote }}
  {{- end }}
  {{- if .Values.settings.uwsgi.processes }}
  UWSGI_PROCESSES: {{ .Values.settings.uwsgi.processes | toString | quote }}
  {{- end }}
  {{- if .Values.settings.uwsgi.maxRequests }}
  UWSGI_MAX_REQUESTS: {{ .Values.settings.uwsgi.maxRequests | toString | quote }}
  {{- end }}
  {{- if .Values.settings.uwsgi.harakiri }}
  UWSGI_HARAKIRI: {{ .Values.settings.uwsgi.harakiri | toString | quote }}
  {{- end }}
  {{- if .Values.settings.notificationsDisabled }}
  NOTIFICATIONS_DISABLED: "True"
  {{- end }}
  {{ if .Values.configuration.superuser.username }}
  OBJECTS_SUPERUSER_USERNAME: {{ .Values.configuration.superuser.username | toString | quote }}
  OBJECTS_SUPERUSER_EMAIL: {{ .Values.configuration.superuser.email | toString | quote }}
  {{- end }}
  {{- if .Values.settings.siteDomain }}
  SITE_DOMAIN: {{ .Values.settings.siteDomain | toString | quote }}
  {{- end }}



