# Open Object Chart

{{ template "chart.description" . }}

{{ template "chart.versionBadge" . }}{{ template "chart.typeBadge" . }}{{ template "chart.appVersionBadge" . }}

> [!NOTE]
> This chart is only compatible with **Open Object 4.0.0 and higher**.
> If you are running an older version, use the [objecten](https://github.com/maykinmedia/charts/tree/main/charts/objecten) chart instead.

> [!WARNING]
> Before deploying and use this Helm chart, ensure that all objecttypes have been migrated successfully.
>
> To perform the migration, first upgrade your existing `objecten` chart to
> the latest version with `objects-api` **3.6.1** and execute the objecttype import
> command as described in the migration documentation.
>
> For detailed migration instructions and additional information, please refer
> to the [documentation](https://open-object.readthedocs.io/en/latest/changelog.html)

## Introduction 

This chart can be used to deploy Open Object on a Kubernetes cluster using the Helm package manager.

* [Source code](https://github.com/maykinmedia/open-object/)
* [Documentation](https://open-object.readthedocs.io/)
* [Docker image](https://hub.docker.com/r/maykinmedia/open-object)
* [Changelog](https://open-object.readthedocs.io/en/latest/changelog.html)

## Quickstart

```bash
helm repo add maykinmedia https://maykinmedia.github.io/charts/
helm install {{ template "chart.name" . }} maykinmedia/{{ template "chart.name" . }}
```

{{ template "chart.requirementsSection" . }}

## Configuration and installation details

### Django specific configuration

**Secret key**

Django makes use of a secret key to provide cryptographic signing. 
This key should be set to a unique, unpredictable value. 
Without the `SECRET_KEY` environment variable, the application will not start.

The key can be configured with the value `settings.secretKey`. You can use a [web tool](https://djecrety.ir/) to generate it. 

**Warning**: Running with a known secret key defeats many of Django’s security protections and can lead to privilege escalation and remote code execution vulnerabilities. 

### Environment variables

For a full overview of the available environment variables and their meaning, 
see the the Open Object [documentation](https://open-object.readthedocs.io/en/latest/installation/config.html).

### Automatic configuration

The application can be automatically configured with `django-setup-configuration`. 
To enable the automatic configuration, the following values should be set:

```yaml
global:
  configuration:
    enabled: true

configuration:
  enabled: true
  job:
    enabled: true
```

The yaml data needed to configure the application should be provided in the value `configuration.data`.
In the `values.yaml` file you can find an example of what the configuration should look like.
To see how to configure, see the Open Object [documentation](https://open-object.readthedocs.io/en/latest/installation/config_cli.html).

The configuration can include sensitive data. To avoid having sensitive values in the `values.yaml` file, it is possible to reference
environment variables. This can be done with the following syntax:

```yaml
configuration:
  data:
    someSensitiveVariable:
      from_value:
        env: SOME_SENSITIVE_VARIABLE
```
These environment variables should be provided in a secret, whose name must then be referenced
with the value `existingConfigurationSecrets` so that it is added to the environment of the Job pod.

### Open Telemetry

Open Object supports the Open Telemetry Protocol.

We recommend deploying one or more Open Telemetry Collector instances in your cluster to receive
telemetry. Alternatively, you can use any vendor that speaks the OTLP protocol.

The environment variables that the Open Telemetry SDK supports can be found [here](https://opentelemetry.io/docs/specs/otel/configuration/sdk-environment-variables/#general-sdk-configuration).

### Probes

Open Object 4.3.0 added new functionality to improve the container health checks for the web application,
the Celery worker, Flower container and Celery beat container. Below you can find additional information about the various checks.

**Web application**

There are now the endpoints `/_healthz/`, `/_healthz/livez/` and `/_healthz/readyz/` which are used for the startup,
liveness and readiness probe respectively.

You can find more information about what these endpoints check [here](http://open-object.readthedocs.io/en/latest/installation/health_checks.html).

Important to note: these endpoints are not reacheable from outside the cluster, Nginx is configured to return 404 for these endpoints.

**Celery worker**

You can read more about the worker health checks in the `maykin-common` documentation [here](https://maykin-django-common.readthedocs.io/en/latest/health_checks.html#celery-worker-health-checks).
Things to note here are:

* For the startup probe, we only check the presence of the readiness file. This is created when the worker is ready to accept work.
Then it is no longer updated and it is cleaned up when the worker shuts down.
* For the liveness probe, we check the presence of the liveness file, which is touched by the internal event loop of the worker every `60 s`
(not a configurable value). We check that the file is not older than `70 s`.
We also perform a ping to check the connection with the broker.

Also note that for the liveness probe we use a script to be able to determine the Celery queue name, which is needed to build the name of the worker to check. Open Zaak uses by default "default queues",
but since the queue name can be changed with the `extraEnvVar` value, we support custom queue names.

**Celery Flower**

Flower exposes an HTTP endpoint that can be used to verify that the service is up and responding.

* For the readiness probe, we perform an HTTP health check against the Flower web interface (`http://localhost:5555/`) using the `maykin-common health-check` command.
* For the liveness probe, we perform the same HTTP health check to ensure that the Flower web interface is reacheable.

{{ template "chart.valuesSection" . }}
