{{- if .Values.worker.livenessProbe.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "openforms.fullname" . }}-celery-liveness
data: 
  liveness-probe.sh: |
    #!/bin/bash

    # Exit immediately if a non-zero exit code is returned
    set -e

    QUEUE_NAME=${CELERY_WORKER_QUEUE:-celery}

    # Check if CELERY_WORKER_NAME is set
    if [ -z "$CELERY_WORKER_NAME" ]; then
      # If not set
      WORKER_NAME="${QUEUE_NAME}@${HOSTNAME}"
    else
      # If set and contains the '@' symbol
      if [[ "$CELERY_WORKER_NAME" != *"@"* ]]; then
        # If not, update CELERY_WORKER_NAME to celery@${CELERY_WORKER_NAME}
        WORKER_NAME="celery@${CELERY_WORKER_NAME}"
      else
        WORKER_NAME="${CELERY_WORKER_NAME}"
      fi
    fi

    CELERY_BROKER={{- if .Values.tags.redis }}{{ printf "%s-master.%s:6379/0" (include "common.names.fullname" .Subcharts.redis) .Release.Namespace | toString }}{{ else }}{{ .Values.settings.celery.brokerUrl | toString }}{{- end }}
    # Use CELERY_WORKER_NAME to set the --destination flag
    maykin-common worker-health-check \
      --broker=CELERY_BROKER \
      --liveness-file=/app/tmp/celery_worker_event_loop.live \
      --max-age={{ .Values.worker.livenessFileMaxAge }}
{{- end }}