{{- if not .Values.nginx.existingConfigmap }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "openforms.nginxFullname" . }}
  labels:
    {{- include "openforms.nginxLabels" . | nindent 4 }}
data:
  proxy: |
    proxy_pass_header Server;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_connect_timeout 300s;
    proxy_read_timeout 300s;
    proxy_redirect off;
    proxy_pass_request_headers on;
    proxy_http_version 1.1;
    proxy_pass http://{{ include "openforms.fullname" . }}.{{ .Release.Namespace }}:{{ .Values.service.port }};
    {{- if .Values.settings.useXForwardedHost }}
    proxy_set_header X-Forwarded-Host $http_host;
    {{ else }}
    proxy_set_header Host $http_host;
    {{- end }}

  default.conf: |
    # Rate limiting configuration - allow 1 request per second. 10m can track about 80000 clients.
    limit_req_zone $binary_remote_addr zone={{ include "openforms.fullname" . }}.{{ .Release.Namespace }}_discover:10m rate=1r/s;

    {{ if .Values.settings.cors.allowedOriginsNginx | default false }}
    map $http_origin $allow_origin {
    ~^https?://(.*\.)?({{ join "|" .Values.settings.cors.allowedOrigins | toString | replace "https://" "" | replace "http://" "" }})(:\d+)?$ $http_origin;
    # NGINX won't set empty string headers, so if no match, header is unset.
    default "";
    }
    {{- end }}

    server {
        listen 8080 default_server;
        server_name {{ .Values.settings.allowedHosts  | replace "," " "}} localhost;
        server_tokens off;
        client_max_body_size {{ .Values.nginx.config.clientMaxBodySize }};

        gzip  on;
        gzip_http_version 1.0;
        gzip_comp_level 2;
        gzip_min_length 1100;
        gzip_buffers     4 8k;
        gzip_proxied any;
        gzip_types

          # text/html is always compressed by HttpGzipModule
          text/css
          text/javascript
          text/xml
          text/plain
          text/x-component
          application/javascript
          application/json
          application/xml
          application/rss+xml
          font/truetype
          font/opentype
          application/vnd.ms-fontobject
          image/svg+xml;

        gzip_static on;

        gzip_proxied        expired no-cache no-store private auth;
        gzip_disable        "MSIE [1-6]\.";
        gzip_vary           on;

        location / {
            {{- if .Values.settings.cors.allowedOriginsNginx | default false }}
            add_header 'Access-Control-Allow-Origin' $allow_origin;
            {{ end }}
            include conf.d/proxy;
        }

        location /_health/ {
            access_log /var/log/nginx/access.log;
            error_log /var/log/nginx/error.log error;
            return 200 'OK';
        }

      location /private-media {
          internal;
          alias /app/private_media/;
      }

      location /media {
          alias /app/media/;
      }

      location = /api/v1/formio/fileupload {
        client_max_body_size {{ .Values.settings.maxFileUpload }};
        include conf.d/proxy;
      }

      location = /admin/forms/form/import/ {
        client_max_body_size {{ .Values.settings.maxImportSize | default "20M" }};
        include conf.d/proxy;
      }

      {{- if and .Values.nginx.staticFileServing.enabled (include "openforms.staticFileServingSupported" .) }}

      # Serve collected static files directly from Nginx
      location /static/ {
          expires max;
          add_header Access-Control-Allow-Origin *;
          alias /srv/static/;
          
          include /etc/nginx/mime.types;
          types {
            application/javascript mjs js;
          }
      {{- else }}
      # Font assets with CORS headers (when static file serving is disabled)
      location ~* ^/static/.*\.(eot|ttf|woff|woff2|svg)$ {
          add_header Access-Control-Allow-Origin *;
          include conf.d/proxy;
      }
      {{- end }}

      # Metadata endpoints - rate limit them to prevent abuse, as they generate XML
      # on the fly.
      location /discovery/ {
          # rate limit at 1 request/s, but allow (delayed) burst of 5 requests
          limit_req zone={{ include "openforms.fullname" . }}.{{ .Release.Namespace }}_discover burst=5;
          include conf.d/proxy;
      }

    }
{{- end }}