# Open Notificaties Chart

{{ template "chart.description" . }}

{{ template "chart.versionBadge" . }}{{ template "chart.typeBadge" . }}{{ template "chart.appVersionBadge" . }}

## Introduction 

This chart can be used to deploy Open Notificaties on a Kubernetes cluster using the Helm package manager.

* [Source code](https://github.com/open-zaak/open-notificaties/)
* [Documentation](https://open-notificaties.readthedocs.io/)
* [Docker image](https://hub.docker.com/r/openzaak/open-notificaties)
* [Changelog](https://github.com/open-zaak/open-notificaties/blob/main/CHANGELOG.rst)

## Quickstart

```bash
helm repo add maykinmedia https://maykinmedia.github.io/charts/
helm install {{ template "chart.name" . }} maykinmedia/{{ template "chart.name" . }}
```

{{ template "chart.requirementsSection" . }}

## Configuration and installation details

### Environment variables

For a full overview of the available environment variables and their meaning,
see the the Open Notificaties [documentation](https://open-notificaties.readthedocs.io/en/stable/installation/configuration/env_config.html).

### Automatic configuration

The application can be automatically configured with `django-setup-configuration`.
To enable the automatic configuration, the following values should be set:

```yaml
global:
  configuration:
    enabled: true

configuration:
  enabled: true
  job:
    enabled: true
```

The yaml data needed to configure the application should be provided in the value `configuration.data`. To see
how to configure, see the Open Notificaties [documentation](https://open-notificaties.readthedocs.io/en/stable/installation/configuration/opennotifs_config_cli.html).

### Probes

Open Notificaties x.y.z added new functionality to improve the container health checks for the web application,
the Celery worker, Flower container and Celery beat container. Below you can find additional information about the various checks.

**Web application**

There are now the endpoints `/_healthz/`, `/_healthz/livez/` and `/_healthz/readyz/` which are used for the startup,
liveness and readiness probe respectively.


You can find more information about what these endpoints check [here](https://open-notificaties.readthedocs.io/en/stable/installation/health_checks.html).

Important to note: these endpoints are not reacheable from outside the cluster, Nginx is configured to return 404 for these endpoints.

**Celery worker**

You can read more about the worker health checks in the `maykin-common` documentation [here](https://maykin-django-common.readthedocs.io/en/latest/health_checks.html#celery-worker-health-checks).
Things to note here are:

* For the startup probe, we only check the presence of the readiness file. This is created when the worker is ready to accept work.
Then it is no longer updated and it is cleaned up when the worker shuts down.
* For the liveness probe, we check the presence of the liveness file, which is touched by the internal event loop of the worker every `60 s`
(not a configurable value). We check that the file is not older than `70 s`.
We also perform a ping to check the connection with the broker.

Also note that for the liveness probe we use a script to be able to determine the Celery queue name, which is needed to build the name of the worker to check. Open Notificaties uses by default "default queues",
but since the queue name can be changed with the `extraEnvVar` value, we support custom queue names.

**Celery Beat**

You can read more about the Beat health checks in the `maykin-common` documentation [here](https://maykin-django-common.readthedocs.io/en/latest/health_checks.html#celery-beat-health-checks).

* For the startup probe, we check the presence of a liveness file. This is created when a new beat task is published.
* For the liveness probe we also check the liveness file. However, here we check that it is not older than 2 min, to be sure that Beat can still publish new tasks.

**Celery Flower**

Flower exposes an HTTP endpoint that can be used to verify that the service is up and responding.

* For the readiness probe, we perform an HTTP health check against the Flower web interface (`http://localhost:5555/`) using the `maykin-common health-check` command.
* For the liveness probe, we perform the same HTTP health check to ensure that the Flower web interface is reacheable.

{{ template "chart.valuesSection" . }}
