apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "openinwoner.fullname" . }}
  labels:
    {{- include "openinwoner.labels" . | nindent 4 }}
data:
  DJANGO_SETTINGS_MODULE: {{ .Values.settings.djangoSettingsModule | toString | quote }}
  ENVIRONMENT: {{ .Values.settings.environment | default (include "openinwoner.fullname" .) }}
  ALLOWED_HOSTS: "{{ include "openinwoner.fullname" . }},{{ include "openinwoner.fullname" . }}.{{ .Release.Namespace }},{{ .Values.settings.allowedHosts | replace " " "" | toString }}"
  {{- if (index .Values "eck-elasticsearch" "enabled") }}
  ES_HOST: {{ printf "https://%s-es-http:9200" (index .Values "eck-elasticsearch" "fullnameOverride") | quote }}
  {{ else }}
  ES_HOST: {{ .Values.settings.elasticSearchHost | toString | quote }}
  {{- end }}
  {{- if .Values.tags.redis }}
  CACHE_DEFAULT: {{ printf "%s-master.%s:6379/0" (include "common.names.fullname" .Subcharts.redis) .Release.Namespace | toString | quote }}
  CACHE_AXES: {{ printf "%s-master.%s:6379/0" (include "common.names.fullname" .Subcharts.redis) .Release.Namespace | toString | quote }}
  CACHE_OIDC: {{ printf "%s-master.%s:6379/0" (include "common.names.fullname" .Subcharts.redis) .Release.Namespace | toString | quote }}
  CELERY_BROKER_URL: {{ printf "redis://%s-master.%s:6379/1" (include "common.names.fullname" .Subcharts.redis) .Release.Namespace | toString | quote }}
  CELERY_RESULT_BACKEND: {{ printf "redis://%s-master.%s:6379/1" (include "common.names.fullname" .Subcharts.redis) .Release.Namespace | toString | quote }}
  {{ else }}
  CACHE_DEFAULT: {{ .Values.settings.cache.default | toString | quote }}
  CACHE_AXES: {{ .Values.settings.cache.axes | toString | quote }}
  CACHE_OIDC: {{ .Values.settings.cache.oidc | toString | quote }}
  CELERY_BROKER_URL: {{ .Values.settings.celery.brokerUrl | toString | quote }}
  CELERY_RESULT_BACKEND: {{ .Values.settings.celery.resultBackendl | toString | quote }}
  {{- end }}
  CELERY_LOGLEVEL:  {{ .Values.settings.celery.logLevel | upper | toString | quote }}
  DIGID_MOCK: {{ .Values.settings.digidMock | toString | quote }}
  EHERKENNING_MOCK: {{ .Values.settings.eherkenningMock | toString | quote }}
  {{- if .Values.settings.smsgateway.backend }}
  ACCOUNTS_SMS_GATEWAY_BACKEND:  {{ .Values.settings.smsgateway.backend | toString | quote }}
  {{- end }}
  {{- if .Values.settings.brpVersion }}
  BRP_VERSION: {{ .Values.settings.brpVersion | toString | quote }}
  {{- end }}
  DB_NAME: {{ .Values.settings.database.name | toString | quote }}
  DB_HOST: {{ .Values.global.settings.databaseHost | default .Values.settings.database.host | toString | quote }}
  DB_USER: {{ .Values.settings.database.username | toString | quote }}
  DB_PORT: {{ .Values.settings.database.port | toString | quote }}
  PGSSLMODE: {{ .Values.settings.database.sslmode | toString | quote }}
  DEBUG: {{ if .Values.settings.debug }}"True"{{ else }}"False"{{ end }}
  IS_HTTPS: {{ if .Values.settings.isHttps }}"True"{{ else }}"False"{{ end }}
  EMAIL_HOST: {{ .Values.settings.email.host | toString | quote }}
  EMAIL_PORT: {{ .Values.settings.email.port | toString | quote }}
  {{- if .Values.settings.email.username }}
  EMAIL_HOST_USER: {{ .Values.settings.email.username | toString | quote }}
  {{- end }}
  {{- if .Values.settings.email.useTLS }}
  EMAIL_USE_TLS: "True"
  {{- end }}
  {{- if .Values.settings.email.defaultFrom }}
  DEFAULT_FROM_EMAIL: {{ .Values.settings.email.defaultFrom | toString | quote }}
  {{- end }}
  {{- if .Values.settings.elasticapm.url }}
  ELASTIC_APM_SERVICE_NAME: {{ .Values.settings.elasticapm.serviceName | toString |  quote }}
  {{- end }}
  {{- if .Values.settings.uwsgi.threads }}
  UWSGI_THREADS: {{ .Values.settings.uwsgi.threads  | toString | quote }}
  {{- end }}
  {{- if .Values.settings.uwsgi.processes }}
  UWSGI_PROCESSES: {{ .Values.settings.uwsgi.processes | toString | quote }}
  {{- end }}
  {{- if .Values.settings.uwsgi.maxRequests }}
  UWSGI_MAX_REQUESTS: {{ .Values.settings.uwsgi.maxRequests | toString | quote }}
  {{- end }}
  {{- if .Values.settings.uwsgi.harakiri }}
  UWSGI_HARAKIRI: {{ .Values.settings.uwsgi.harakiri | toString | quote }}
  {{- end }}
  {{- if .Values.settings.uwsgi.port }}
  PORT: {{ .Values.settings.uwsgi.port | toString | quote }}
  {{- end }}
  {{- if .Values.settings.uwsgi.httpTimeout }}
  UWSGI_HTTP_TIMEOUT: {{ .Values.settings.uwsgi.httpTimeout | toString | quote }}
  {{- end }}
  {{- if .Values.settings.uwsgi.postBuffering }}
  UWSGI_POST_BUFFERING: {{ .Values.settings.uwsgi.postBuffering | toString | quote }}
  {{- end }}
  {{- if .Values.settings.uwsgi.bufferSize }}
  UWSGI_BUFFER_SIZE: {{ .Values.settings.uwsgi.bufferSize | toString | quote }}
  {{- end }}
  {{- if .Values.settings.uwsgi.httpKeepalive }}
  UWSGI_HTTP_KEEPALIVE: {{ if .Values.settings.uwsgi.httpKeepalive }}"1"{{ else }}"0"{{ end }}
  {{- end }}
  ALLOW_CUSTOM_JS:  {{ if .Values.settings.allowCustomJs }}"True"{{ else }}"False"{{ end }}
  OIDC_FRONTEND_LOGOUT_WITH_HINTS: {{ if .Values.settings.oidcFrontendLogoutWithHints }}"True"{{ else }}"False"{{ end }}

