{{- if not .Values.existingSecret }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "opennotificaties.fullname" . }}
  labels:
    {{- include "opennotificaties.labels" . | nindent 4 }}
stringData:
  {{- if .Values.tags.rabbitmq }}
  {{ $rabbitmq_url := printf "amqp://%s:%s@%s:5672" .Values.rabbitmq.auth.username .Values.rabbitmq.auth.password (include "common.names.fullname" .Subcharts.rabbitmq) -}}
  CELERY_BROKER_URL: {{ print $rabbitmq_url "//" | quote }}
  PUBLISHER_BROKER_URL: {{ print $rabbitmq_url "/%2F" | quote }}
  {{- else }}
  CELERY_BROKER_URL: {{ .Values.settings.celery.brokerUrl | toString | quote }}
  PUBLISHER_BROKER_URL: {{ .Values.settings.celery.publishBrokerUrl | toString | quote }}
  {{- end }}
  {{- if .Values.tags.redis }}
  CELERY_RESULT_BACKEND: {{ printf "redis://%s-master:6379/1" (include "common.names.fullname" .Subcharts.redis) | quote }}
  {{- else }}
  CELERY_RESULT_BACKEND: {{ .Values.settings.messageBroker.celeryResultBackend | toString | quote }}
  {{- end }}
  {{- if .Values.tags.postgresql }}
  DB_PASSWORD: {{ .Values.postgresql.auth.postgresPassword | toString | quote }}
  {{- else }}
  DB_PASSWORD: {{ .Values.settings.database.password | toString | quote }}
  {{- end }}
  SECRET_KEY: {{ .Values.settings.secretKey | toString |  quote }}
  FLOWER_BASIC_AUTH:  {{ .Values.settings.flower.basicAuth | toString | quote }}
  {{- if .Values.settings.sentry.dsn }}
  SENTRY_DSN: {{ .Values.settings.sentry.dsn | toString | quote }}
  {{- end }}
  {{- if .Values.settings.email.password }}
  EMAIL_HOST_PASSWORD: {{ .Values.settings.email.password | toString | quote }}
  {{- end }}
  {{- if .Values.settings.elasticapm.url }}
  ELASTIC_APM_SECRET_TOKEN: {{ .Values.settings.elasticapm.token | toString |  quote }}
  {{- end }}
  {{ if and .Values.global.configuration.enabled .Values.configuration.enabled -}}
  {{ if .Values.configuration.openzaakAuthorization.enabled -}}
  NOTIF_OPENZAAK_SECRET: {{ .Values.global.configuration.notificatiesOpenzaakSecret | default .Values.configuration.openzaakAuthorization.notifcationOpenzaakSecret  | toString | quote }}
  {{- end }}
  {{ if .Values.configuration.notificaties.enabled -}}
  OPENZAAK_NOTIF_SECRET: {{ .Values.global.configuration.openzaakNotificatiesSecret | default .Values.configuration.notificaties.openzaakNotificationSecret | toString | quote }}
  {{- end }}
  {{- end }}
  {{ if .Values.configuration.superuser.username }}
  DJANGO_SUPERUSER_PASSWORD: {{ .Values.configuration.superuser.password | toString | quote }}
  {{- end }}
  {{- end }}
